body {
  color: #ffffff;
  font-family: 'Montserrat', 'Roboto', sans-serif;
  background-color: #e4f3fb;
  margin: 0;
  padding: 0;
}
.container{
  width: 100%;
  max-width: 85%;
  margin: 0 auto;

}

body h3 {
  color: #00638c;
  text-align: center;
}

.subtitle {
  font-size: 30px;
  color: #00638c;
  text-align: center;
}

html {
  font-size: 16px;

  @media screen and (max-width: 540px) {
    font-size: 12px;
  }
}

/*header*/
header{
  width: 100%;
  background-color: #00638c;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
#burger-icon{
  display: none;
}
#burger-icon.active{
  display: block;
}

nav img {
  width:  78px;
}

nav ul {
  list-style: none;
  top: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1.4rem;
  align-items: center;
}

.menu-item {
  display: inline;
}

.menu-item a {
  text-decoration: none;
  color: #ffffff;

  
}
.menu-item a:hover{
  text-decoration: underline;
}

#boton_adoptar {
  background-color: #d98729;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  width: 109px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}



#banner_index {
  background-image: url(images/backgrounds/fondo-nosotros.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  height: 80vh;
  padding: 2rem 10rem;
}

.container_header {
  width: 30vw;
}

.divider {
  color: #ffffff;
  padding: 0;
  margin: 0;
}

#estadisticas {
  color: #00638c;
  background-color: #c6eaff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

#container_datos {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 2rem 1rem;
}

.datos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#sobrenosotros {
  background-image: url(images/backgrounds/fondo-sobrenosotros.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

#rescatados {
  color: #00638c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#rescatados p {
  color: black;
}

#fotoscaballos {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin-left: 20rem;
  margin-right: 20rem;
}

#fotoscaballos img {
  height: 21rem;
  width: 20rem;
}

#colabora {
  background-color: #c6eaff;
  color: #00638c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container_colabora {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.tarjeta_colabora {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e4f3fb;
  border-radius: 1rem;
  padding: 1rem;
}

#container_pagos {
  margin: 1rem;
}

#container_pagos img {
  height: 2rem;
  width: auto;
}

#container_equipo {
  background-color: #c6eaff;
}

#container_areas {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

#container_voluntarios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}

.tarjeta_areas h3 {
  color: black;
}

.tarjeta_areas li {
  list-style-type: none;
}

#texto_voluntarios {
  color: black;
  text-align: center;
}

#texto_voluntarios ul li {
  list-style-type: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00638c;
}

form input {
  background-color: #c6eaff;
}

#container_mapa_texto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  color: black;
}

#mapa {
  height: 15rem;
  width: auto;
  border: 0.15vw solid #d98729;
}

#puntos_de_contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.tarjeta_encontranos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}

footer {
  background-image: url(images/backgrounds/fondo-footer.png);
  background-color: #c6eaff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer img {
  height: 10rem;
  width: auto;
}

#container_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#container_redes_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#redes_footer img {
  height: 2rem;
  width: auto;
}

.datos img {
  height: 30px;
  width: 30px;
}

.tarjeta_areas img {
  height: 50px;
  width: 50px;
}

.tarjeta_encontranos img {
  height: 50px;
  width: 50px;
}

.tarjeta_eventos {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  color: #0056b3;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.tarjeta_eventos img {
  max-width: 250px; /* Tamaño de la imagen aumentado */
  margin-right: 30px;
  border-radius: 10px;
}

.tarjeta_eventos div {
  flex-grow: 1;
  text-align: left; /* Alineación del texto a la izquierda */
}

.tarjeta_eventos h3 {
  margin: 0 0 15px;
  font-size: 2em;
}

.tarjeta_eventos p {
  margin: 10px 0;
  font-size: 1.1em;
}

.tarjeta_eventos button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
  margin-top: 15px;
}

.tarjeta_eventos button:hover {
  background-color: #0056b3;
}
